@use "sass:math";
.seccion {
    margin-top: math.div($separacion, 2);
    margin-bottom: math.div($separacion, 2);
}
.contenido-centrado {
    max-width: 800px;
    
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}

.w-100{
    width: 100%;
}